---
layout: frontpage
css-file: home
---

<div class="separator"></div>
<div class="members">
  <div class="information">
    <h1>Members and about</h1>
    <p>
      Our team consists of a varied group of individuals with different <br />
      background and skillset. We've got a mix of young talent, and <br />
      experienced IT professionals, coming together to inspire and learn from
      <br />
      each other.In 2020 the Norwegian Intelligence Service hosted a CTF <br />
      to attract cyber talents, and this group was formed following that event
      <br />
      for those of us who wanted to continue solving challenges. <br />
    </p>
  </div>
  <div class="member-list">
    <ul>
      {% for member in site.data.members %}
      <li>
        {{ member.name }}{% if member.about %} : {{ member.about }} {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
