<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{site.title}}</title>
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
<script defer src="/static/scripts/app.js"></script>

<!--Default stylesheet-->
<link rel="stylesheet" href="/static/css/style.css" />
{%- if page.css-file -%}
<!-- Include a page's spesific stylesheet -->
<link rel="stylesheet" href="/static/css/{{page.css-file}}.css" />
{%- endif -%}

<!---->
{% seo title=false %}
