<div id="links">
  <a
    href="https://github.com/{{site.github_username}}"
    target="_blank"
    id="github"
    class="url"
    >GitHub</a
  >|
  <a
    href="https://twitter.com/CoraxTeam"
    target="_blank"
    id="twitter"
    class="url"
    >Twitter</a
  >|
  <a
    href="https://ctftime.org/team/113107"
    target="_blank"
    id="ctftime"
    class="url"
    >CTFtime</a
  >|
  <a
    href="https://www.hackthebox.eu/home/teams/profile/2528"
    id="hackthebox"
    class="url"
    target="_blank"
    >HackTheBox</a
  >
</div>
